body {
    font-size: 16px;
    margin: 0;
}

header {
    background: black;
}

header h1,
header h1 a {
    margin: 0;
    text-align: center;
    color: white;
    padding: 50px;
    font-size: 100px;
}
header h1 a {
    text-decoration: none;
}

header h1 a {
    text-decoration: none;
}

main {
    background: blue;
    float: left;
    width: 100%;
    transition: transform 1s;
}

.section2.move {
    transform: rotate(180deg)
}

main section {
    float: left;
    width: 33.33%;
}

main section p {
    margin: 0;
    color: white;
    text-align: center;
    padding: 250px;
    font-size: 60px;
}

main .section {
    background: white;
}

main .section p {
    color: black;
    padding: 250px;
}

main .section3 {
    background: red;
}

main .section3 p {
    color: black;
}

footer {
    background: black;
    color: white;
    text-align: center;
    font-size: 60px;
}
<<<<<<< HEAD
=======

.gameWrapper {
    position: relative;
    float: left;
    background: #f1f1f1;
    width: 100%;
    height: 500px;
}

.square {
    position: absolute;
    width: 25px;
    height: 25px;
    display: block;
    border: 1px solid black;
    background: #baca55;
}
>>>>>>> 1f2747345eb66855f9b843a0052f3cae0671de11
